body {
    position: absolute;
    width:100%;
    height: 100%;
    margin: 0px;
    font-family: 'open Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
    /*text-shadow: 0 0 1px rgba(255, 255, 255, 0.58);*/
}
#map {
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    right:0px;
}

path {
    fill: none;
    stroke: #4682B4;
    stroke-opacity: 0.6;
    stroke-linecap: round;
    cursor: pointer;
}
path:hover {
    stroke-opacity: 0.8;
    stroke: #315B7E;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.navbar {
    height: 40px;
    min-height: 45px;
}

.navbar-nav>li>a {
    padding-top: 12px; padding-bottom: 8px;
}
.navbar-brand {
    padding-top:  17px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.info-panel {
    line-height: 16px;
    width: 280px;
    position: absolute;
    z-index: 1000;
    left: 18px;
    bottom: 18px;
    color: #070707;
    padding: 6px 8px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

li {
    font-family: 'Francois One', sans-serif;
    font-size: 19px;
    padding-right: 15px;
}

h4 {
    font-family: 'Francois One', sans-serif;
}

.infobox {
    font-size: 14px;
}

.statelist {
    font-family: 'Francois One', sans-serif;
    font-size: 14px;
}

.info-panel i {
    width: 16px;
    height: 16px;
    line-height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info-panel p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

a:visited {color: #000000; background-color:transparent; text-decoration:none}
a:hover   {color: #000000; background-color:transparent; text-decoration:none}
a:active {color: #000000; background-color:transparent; text-decoration:none}
a:link   {color: #000000; background-color:transparent; text-decoration:none}

.logo {
    margin-top:-12px
}